---
layout: default
title: Home
---

<div class="section-head">🔥🔥 TRENDING UPDATES 🔥🔥</div>

{% for post in site.posts limit:20 %}
<a href="{{ site.baseurl }}{{ post.url }}" class="movie-item">
    <img src="{{ post.image }}" class="m-thumb" alt="poster" loading="lazy">
    <div class="m-info">
        <div class="m-title">{{ post.title }}</div>
        
        {% if post.tags contains 'South' %}
            <span class="m-tag bg-blue">South Hindi Dubbed</span>
        {% elsif post.tags contains 'Bollywood' %}
            <span class="m-tag bg-green">Bollywood Movie</span>
        {% elsif post.tags contains 'Web Series' %}
            <span class="m-tag bg-pink">Web Series</span>
        {% else %}
            <span class="m-tag bg-red">{{ post.quality }}</span>
        {% endif %}
    </div>
</a>
{% else %}
    <div style="padding:20px; text-align:center;">
        <h3>No Movies Found!</h3>
        <p>Please add a .md file in _posts folder.</p>
    </div>
{% endfor %}

<div class="section-head">📁 BROWSE CATEGORIES</div>
<div class="folder-scroll">
    <a href="#" class="folder-btn"><i class="fas fa-folder" style="color:#ffa502"></i> South Indian</a>
    <a href="#" class="folder-btn"><i class="fas fa-folder" style="color:#ffa502"></i> Bollywood</a>
    <a href="#" class="folder-btn"><i class="fas fa-folder" style="color:#ffa502"></i> Hollywood</a>
    <a href="#" class="folder-btn"><i class="fas fa-folder" style="color:#ffa502"></i> Web Series</a>
    <a href="#" class="folder-btn"><i class="fas fa-folder" style="color:#ffa502"></i> Dual Audio</a>
</div>

<div style="text-align:center; padding: 20px;">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="m-tag bg-blue" style="font-size:12px; padding:8px 20px;">Next Page >></a>
    {% endif %}
</div>
